/* *{
    font-family: 'Times New Roman', Times, serif;
}
body{
    font-size: 20px;
}
p{
    
    color: purple;
}
.t{
    color: aqua;
}
.s{
    color: chartreuse;
}
#first{
    font-style: italic;
}
h1,h2{
    color: orangered;
}
p span{
    background-color: black;
} */

/* body{
    background-color: aqua;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    color: darkorchid;

}
p{
    color: rgb(250, 4, 250)
} */
*{
margin: 0;
padding: 0;
}
    

body{
    background-color: aqua;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    color: darkorchid;

}
h1{
    border: 2px dashed blueviolet;
    width: 50%;
    font-size: 2rem;
    padding: 0.5rem;
}
p{
    color: rgb(250, 4, 250) 
}