
body{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.block{
    width: 30vw;
    height: 30vw;
    background-color: aqua;
    color: aliceblue;
    padding: 1rem;
}
.left{
float: left;
margin-right: 1rem;
}
.right{
    float: right;
    margin-left: 1rem;
}
section{
    background-color: antiquewhite;
    padding: 1rem;
    border: 4px solid black;
    display: flow-root;
}

