*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 50%;
}
h1{
    font-size: 40px;
    color: aqua;
    border: 2px dashed ;
    width: 90%;
}
p{
    font-size: 2 rem;
}